/* You can add global styles to this file, and also import other style files */
.ptr-mat-card {
    padding-top: 50px;
}

.ptr_warning_message {
    background: yellow !important; 
    cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
